{% extends "base.html" %}
{% block content %}
{% load static %}
<br>
<br>
<br>
<br>
{% for post in posts %}
<div class="container ">
    <h2>{{ post.title }}</h2>
    <p>by {{ post.author }} on {{ post.created_at }}</p>
    <p>{{ post.content|truncatewords:30 }}</p>
    {% if user.is_authenticated %}
    <li><a href="{% url 'post_detail' post.id %}">Read More</a></li>
    {% else %}
    <li><a href="{% url 'post_list'  %}">Read more </a></li>
    {% endif %}
</div>
{% endfor %}      
{% endblock %}